Host agent-stack
  HostName <ip-address>
  User admin
  IdentityFile ./.ssh/id_ed25519_agent_stack
  IdentitiesOnly yes
  ConnectTimeout 10
  ServerAliveInterval 20
  ServerAliveCountMax 3
  TCPKeepAlive yes
  StrictHostKeyChecking accept-new
